*{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', system-ui;
}
.contenedor {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-rows: 0.6fr 600px 0.7fr;
    grid-template-areas:"hero"
                        "contenido"
                        "footer"; */
    
    width: 100%;
}
.contenedor .hero{
    background-image: url(../images/bike.jpg);
    background-size: cover;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-area: hero;
}
.contenedor .hero-2{
    background-image: url(../images/bike.jpg);
    background-size: cover;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.contenedor .hero img,
.contenedor .hero-2 img{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.head{
    text-align: center;
    color: #111;
    font-size: 32PX;
    letter-spacing: 4px;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.13) 2px 2px 3px;
    text-transform: uppercase;
    padding: 20px;
}
span{
    background: #737070;
    padding: 0px 10px;
}
.active{
    color: #737070;
}
.navbar-brand {
    font-size: 0.8em;
    background: #fff;
    color: #000;
    text-decoration: none;
    border:1px solid #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 35px;
    padding: 50;
    height: 55px;
    width: 400px;
    margin: 100px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.31);
    animation: logoIn 2s  ease-out;
}  

.navbar-brand:hover{
    border: 1px solid #000;
    color: #fff;
    background: #000;
}

.menu{
    display: flex;
    margin:30px;
}
.menu a{
    font-size:22px;
    font-weight: 400;
    padding:20px;
    color:#000;
    text-decoration: none;
    cursor: pointer;
}
.menu .menu1{
    position: relative;
    animation: fadeIn 2s  ease-out;
}
.menu .menu2{
    position: relative;
    animation: fadeIn 2.5s  ease-out;
}
.menu .menu3{
    position: relative;
    animation: fadeIn 3s  ease-out;
}
.menu .menu4{
    position: relative;
    animation: fadeIn 3.5s  ease-out;
}
.menu a:hover{
    background: #fb383b;
    border-radius: 80px;
}
@keyframes fadeIn {
    0% {
        top: -300px;
       
      }
      50% {
          top: -150;
        }

      100% {
          top: 0;
        }
    }
@keyframes logoIn{
    0% {
        left: -800px;
       
      }
    25%{
        left: -600px;
    }
    50% {
        left: -400;
        }
    
    50% {
        left: -200;
        }
    100% {
          left: 0;
        }
    }
.ver-articulos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
    background: #fb383b;

}

.ver-articulos .imagen-art1 img{
    width: 100%;
    height: 600px;
}
.ver-articulos .imagen-art2 img{
    width: 100%;
    height: 100%;
}


.ver-motos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
    background: #fb383b;
}
.ver-motos .imagen-moto img{
    width: 100%;
    height: 100%;
}
.ver-bicicletas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px;
    background: #fb383b;
}
.ver-bicicletas .imagen-bicicleta img{
    width: 100%;
    height: 400px;
}
.info{
    padding: 50px;
    
}
.active{
    background: #fb383b;
    
    border-radius: 80px;
}
.info a{
    color: #fff; 
    background:  #000;  
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    top: 100px;
}
.info a:hover{
    background: rgb(172, 170, 170);}

.info h2{
    padding: 10px;
    color: #fff;
}
.info p{
    color: #fff;
}

.otros{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: c1;
    height: 200px;
   }
.otros h3{
    margin-right: 20px;
}
.arrows{
    display: flex;
    flex-direction: column;

}
.otros .arrows-otros{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}
.otros .arrows-otros:hover{
     background: #fff;
}
.otros-articulos img{
    height: 200px;
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
}
.slide{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    grid-area: c2;
}
.otros-articulos{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "c1 c2";
    height: 200px;
    background: #fb383b;
    grid-gap: 0;
    color: #fff;
    font-size: 22px;
   
}


.footer{
    height: 400px;
    background: #000;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px;
    grid-gap: 30px;
    /* grid-template-areas: 'left' 'center' 'rigth'; */

}
.footer-left{
    color: #737070;

    
}
.footer-left h1{
    color: #fff;
}
.footer-left p{
    margin-top: 40px;
}
.footer-center{
    color: #737070;
    
}
.footer h4{
    color: #fff;
    margin: 10px 0 10px;
}
.footer h5{
    
    margin-bottom: 10px;
}

.footer-rigth{
    color: #737070;

}
h5 a{
    text-decoration: none;
    font-family:'Montserrat', system-ui;
    color: #e4f9f5;}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    color: #737070;
}
h2{
    font-size: 28px;
    font-weight: 300i;
}

.pie{
    background: #000;
    color: #333;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #0e0e0e;
}
.contact-map iframe {
    width: 100%;
    height: 350px;
}
/* ---------------Acerca de------------ */

/* Articulos */
.list-articles {
    padding: 20px;
    background: #fff;
    text-align: center;
}
.list-articles .contenedor-articulos{
    background: #fff;
    margin: 20px;
    display: grid;
    grid-template-columns: .2fr 1fr;
}
.contenedor-articulos .grid{
    position: relative;
	width: 100%;
	opacity: 0s;
	transition: opacity 0.5s linear 1s;
}
.contenedor-articulos .grid.imagenes-cargadas {
	opacity: 1;
}

.contenedor-articulos .grid .item-contenido {
	position: relative;
}
.contenedor-articulos .grid .item{
    position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.articulos .articulo{
    background: #e4f9f5;
    border-radius: 5px;
    border: 1px #000000 solid;
    padding: 20px 0;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
.list-articles .contenedor-articulos img{
    width: 200px;
    border-radius: 2px;
    border: 2px #fb383b solid;
    cursor: pointer;
}
.descripcion{
    font-size: 16px;
    font-weight: 300;
    margin: 5px 0 10px;
    padding: 5px;
}

/* ///////////Categorias////////////////// */
/* header .categorias {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

header .categorias a {
	color: #9B9B9B;
	margin: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}

header .categorias a.activo {
	color: #000;
} */
.categorias{
    border-radius: 2px;
    margin-top: 10px;
    border: 1px #000000 solid;
    background: #fb383b;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;

}
.categorias .categoria a{
   font-size: 20px;
   color: #fff;
   margin: 10px;
   display: flex;
   flex-direction: column;
   text-decoration: none;
   cursor: pointer;
    
}
.categoria a.activo{
    font-weight: bold;
    font-weight: 700;
}
.categoria a:hover{
    font-weight: bold;
}

.categorias .buscar{
    height: 40px;
    margin: 5px;
	background: #fff;
	border-radius: 100px;
	border: none;
	text-align: center;
	font-size: 15px;
}
/* .contenedor-articulos .categorias h3{
    border: 1px solid #eeeeee;
    color: #eeeeee;
    font-size: 18px;
    text-align: left;
    padding: 20px; 

} */
.contenedor-articulos .categorias h4{
    text-align: center;
    margin-top: 20px;
    color: #eeeeee;
    font-size: 22px;
    text-align: center;
}

.categorias h2{
    margin: 10px;
    font-size: 22px;
    text-align:center;
    font-family:'Montserrat', system-ui;
}
.articulos .action-header-1{
    color: #fff; 
    background: #fb383b;  
    text-decoration: none;
    border:1px solid #fb383b;
    padding: 10px 20px;
    border-radius: 5px;
}
.articulos .action-header-1:hover{
    color: #fff; 
    background: #cf2023;  
    text-decoration: none;
    border:1px solid #fb383b;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.articulos .action-header-2{
    color: #fff; 
    background: #5a5c5c;  
    text-decoration: none;
    border:1px solid #fb383b;
    padding: 10px 20px;
    border-radius: 5px;

}

.articulos .action-header-2:hover{
      color: #fff; 
    background: #171818;  
    text-decoration: none;
    border:1px solid #fb383b ;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* //////////Mediaqueri//////////////7 */

@media screen and (max-width: 320px){
    .otros-articulos{
        display: none;
    }
}

@media screen and (max-width: 480px){
.contenedor{
    display: flex;
    flex-wrap: wrap;    
}
.otros-articulos{
    display: none;
}
.list-articles .contenedor-articulos{
    display: flex;
    flex-wrap: wrap;
}
.contenedor-articulos .grid .item{
    width: calc(100% - 20px);
 }
.categorias{
    margin: auto;
    flex-direction: row;
    padding: 0 15px 0 0;
    width: 500px;
    align-items: center;
    justify-content: center;
}
.categorias .buscar{
    width: 300px;
}
.categorias h4{
    display: none;
}

.categorias .categoria a{
    /* padding: 10px 5px 0 5px;
    display: inline-block;
    flex-wrap: wrap; */
    display: none;
}
 /* .categorias{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: "buscar"
                "categorias" 

 }
 .categorias .categoria a{
     grid-area: categorias;
 }
 .categorias .buscar{
     grid-area: buscar;
 } */

}
@media screen and (max-width: 768px){
.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.otros-articulos{
    display: none;
}

.contenedor .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor .hero-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-articles{
    display: flex;
    flex-wrap: wrap;
}
.contenedor-articulos .grid .item{
   width: calc(50% - 20px);
}
}
@media screen and (max-width: 1024px){
    .list-articles{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .contenedor{
        display: flex;
        flex-wrap: wrap;
    }
    .menu a{
        padding: 7px;
    }
}
